<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - Luciano S. G. Nascimento - <a asp-area="Painel" asp-controller="Secure" asp-action="Privacy">Privacidade</a>
    </div>
</footer>