USE [master]
GO
/****** Object:  Database [BasePistas]    Script Date: 04/03/2023 19:01:14 ******/
CREATE DATABASE [BasePistas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BasePistas', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\BasePistas.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BasePistas_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\BasePistas_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BasePistas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BasePistas]
GO
/****** Object:  Table [dbo].[Cidade]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cidade](
	[id_cidade] [int] NOT NULL,
	[nm_cidade] [varchar](100) NULL,
	[id_estado] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_cidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Endereco]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Endereco](
	[id_endereco] [int] IDENTITY(1,1) NOT NULL,
	[ds_endereco] [varchar](256) NULL,
	[nr_endereco] [int] NULL,
	[cd_cep] [varchar](45) NULL,
	[nr_latitude] [float] NULL,
	[nr_longitude] [float] NULL,
	[id_cidade] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_endereco] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[id_estado] [int] NOT NULL,
	[nm_estado] [varchar](75) NULL,
	[uf] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fotos]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fotos](
	[id_foto] [int] IDENTITY(1,1) NOT NULL,
	[nm_foto] [varchar](256) NULL,
	[id_pista] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_foto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modalidades]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modalidades](
	[id_modalidade] [int] IDENTITY(1,1) NOT NULL,
	[nm_modalidade] [varchar](45) NULL,
	[ds_modalidade] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_modalidade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modalidades_Pistas]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modalidades_Pistas](
	[id_modalidade_pista] [int] IDENTITY(1,1) NOT NULL,
	[id_modalidade] [int] NOT NULL,
	[id_pista] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_modalidade_pista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Niveis_dificuldade]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Niveis_dificuldade](
	[id_nivel_dificuldade] [int] IDENTITY(1,1) NOT NULL,
	[nm_nivel_dificuldade] [varchar](45) NULL,
	[ds_nivel_dificuldade] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nivel_dificuldade] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Niveis_dificuldade_Pistas]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Niveis_dificuldade_Pistas](
	[id_nivel_dificuldade_pista] [int] IDENTITY(1,1) NOT NULL,
	[id_nivel_dificuldade] [int] NOT NULL,
	[id_pista] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_nivel_dificuldade_pista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pistas]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pistas](
	[id_pista] [int] IDENTITY(1,1) NOT NULL,
	[nm_pista] [varchar](100) NOT NULL,
	[ds_pista] [varchar](700) NULL,
	[fl_paga] [int] NULL,
	[ds_horario_funcionamento] [varchar](128) NULL,
	[fl_pista_ativa] [int] NULL,
	[fl_capacete] [int] NULL,
	[fl_aluga_capacete] [int] NULL,
	[id_status_aprovacao] [int] NOT NULL,
	[nr_nota] [int] NULL,
	[id_tamanho] [int] NOT NULL,
	[ds_notas_gerais] [varchar](600) NULL,
	[id_endereco] [int] NOT NULL,
	[id_usuario_envio] [int] NULL,
	[fl_cobertura] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pista] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pistas_Professores]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pistas_Professores](
	[id_pista_professor] [int] IDENTITY(1,1) NOT NULL,
	[id_pista] [int] NOT NULL,
	[id_professor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pista_professor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Professores]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Professores](
	[id_professor] [int] IDENTITY(1,1) NOT NULL,
	[nm_professor] [varchar](45) NULL,
	[cd_cpf] [varchar](45) NOT NULL,
	[ds_telefone] [varchar](12) NOT NULL,
	[ds_email] [varchar](45) NULL,
	[ds_instagram] [varchar](45) NULL,
	[nr_estrelas] [float] NULL,
	[nr_anos_experiencia] [int] NULL,
	[nm_apelido] [varchar](45) NULL,
	[vl_hora_aula] [float] NULL,
	[fl_ativo] [int] NULL,
	[id_status_aprovacao] [int] NOT NULL,
	[nm_profile] [varchar](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_professor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status_aprovacao]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status_aprovacao](
	[id_status_aprovacao] [int] IDENTITY(1,1) NOT NULL,
	[ds_status_aprovacao] [varchar](45) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_status_aprovacao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tamanhos]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tamanhos](
	[id_Tamanho] [int] IDENTITY(1,1) NOT NULL,
	[ds_tamanho] [varchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_Tamanho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [varchar](100) NOT NULL,
	[Email] [varchar](150) NULL,
	[Login] [varchar](50) NOT NULL,
	[Hash] [varchar](256) NULL,
	[Salt] [varchar](256) NULL,
	[Senha] [varchar](50) NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_envio]    Script Date: 04/03/2023 19:01:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_envio](
	[id_usuario_envio] [int] IDENTITY(1,1) NOT NULL,
	[nm_usuario_envio] [varchar](256) NULL,
	[nr_telefone] [varchar](32) NULL,
	[ds_email] [varchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cidade]  WITH CHECK ADD  CONSTRAINT [fk_Cidade_Estado1] FOREIGN KEY([id_estado])
REFERENCES [dbo].[Estado] ([id_estado])
GO
ALTER TABLE [dbo].[Cidade] CHECK CONSTRAINT [fk_Cidade_Estado1]
GO
ALTER TABLE [dbo].[Endereco]  WITH CHECK ADD FOREIGN KEY([id_cidade])
REFERENCES [dbo].[Cidade] ([id_cidade])
GO
ALTER TABLE [dbo].[Fotos]  WITH CHECK ADD  CONSTRAINT [fk_Fotos_Pistas1] FOREIGN KEY([id_pista])
REFERENCES [dbo].[Pistas] ([id_pista])
GO
ALTER TABLE [dbo].[Fotos] CHECK CONSTRAINT [fk_Fotos_Pistas1]
GO
ALTER TABLE [dbo].[Modalidades_Pistas]  WITH CHECK ADD  CONSTRAINT [fk_Modalidades_has_Pistas_Modalidades1] FOREIGN KEY([id_modalidade])
REFERENCES [dbo].[Modalidades] ([id_modalidade])
GO
ALTER TABLE [dbo].[Modalidades_Pistas] CHECK CONSTRAINT [fk_Modalidades_has_Pistas_Modalidades1]
GO
ALTER TABLE [dbo].[Modalidades_Pistas]  WITH CHECK ADD  CONSTRAINT [fk_Modalidades_has_Pistas_Pistas1] FOREIGN KEY([id_pista])
REFERENCES [dbo].[Pistas] ([id_pista])
GO
ALTER TABLE [dbo].[Modalidades_Pistas] CHECK CONSTRAINT [fk_Modalidades_has_Pistas_Pistas1]
GO
ALTER TABLE [dbo].[Niveis_dificuldade_Pistas]  WITH CHECK ADD  CONSTRAINT [fk_Niveis_dificuldade_has_Pistas_Niveis_dificuldade1] FOREIGN KEY([id_nivel_dificuldade])
REFERENCES [dbo].[Niveis_dificuldade] ([id_nivel_dificuldade])
GO
ALTER TABLE [dbo].[Niveis_dificuldade_Pistas] CHECK CONSTRAINT [fk_Niveis_dificuldade_has_Pistas_Niveis_dificuldade1]
GO
ALTER TABLE [dbo].[Niveis_dificuldade_Pistas]  WITH CHECK ADD  CONSTRAINT [fk_Niveis_dificuldade_has_Pistas_Pistas1] FOREIGN KEY([id_pista])
REFERENCES [dbo].[Pistas] ([id_pista])
GO
ALTER TABLE [dbo].[Niveis_dificuldade_Pistas] CHECK CONSTRAINT [fk_Niveis_dificuldade_has_Pistas_Pistas1]
GO
ALTER TABLE [dbo].[Pistas]  WITH CHECK ADD FOREIGN KEY([id_usuario_envio])
REFERENCES [dbo].[Usuario_envio] ([id_usuario_envio])
GO
ALTER TABLE [dbo].[Pistas]  WITH CHECK ADD  CONSTRAINT [fk_Pistas_Endereço1] FOREIGN KEY([id_endereco])
REFERENCES [dbo].[Endereco] ([id_endereco])
GO
ALTER TABLE [dbo].[Pistas] CHECK CONSTRAINT [fk_Pistas_Endereço1]
GO
ALTER TABLE [dbo].[Pistas]  WITH CHECK ADD  CONSTRAINT [fk_Pistas_Status_aprovacao1] FOREIGN KEY([id_status_aprovacao])
REFERENCES [dbo].[Status_aprovacao] ([id_status_aprovacao])
GO
ALTER TABLE [dbo].[Pistas] CHECK CONSTRAINT [fk_Pistas_Status_aprovacao1]
GO
ALTER TABLE [dbo].[Pistas]  WITH CHECK ADD  CONSTRAINT [fk_Pistas_Tamanhos1] FOREIGN KEY([id_tamanho])
REFERENCES [dbo].[Tamanhos] ([id_Tamanho])
GO
ALTER TABLE [dbo].[Pistas] CHECK CONSTRAINT [fk_Pistas_Tamanhos1]
GO
ALTER TABLE [dbo].[Pistas_Professores]  WITH CHECK ADD  CONSTRAINT [fk_Pistas_has_Professores_Pistas] FOREIGN KEY([id_pista])
REFERENCES [dbo].[Pistas] ([id_pista])
GO
ALTER TABLE [dbo].[Pistas_Professores] CHECK CONSTRAINT [fk_Pistas_has_Professores_Pistas]
GO
ALTER TABLE [dbo].[Pistas_Professores]  WITH CHECK ADD  CONSTRAINT [fk_Pistas_has_Professores_Professores1] FOREIGN KEY([id_professor])
REFERENCES [dbo].[Professores] ([id_professor])
GO
ALTER TABLE [dbo].[Pistas_Professores] CHECK CONSTRAINT [fk_Pistas_has_Professores_Professores1]
GO
ALTER TABLE [dbo].[Professores]  WITH CHECK ADD FOREIGN KEY([id_status_aprovacao])
REFERENCES [dbo].[Status_aprovacao] ([id_status_aprovacao])
GO
USE [master]
GO
