::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}

::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}

::-webkit-scrollbar-thumb {
    background: #dad7d7;
}



.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    border-bottom: 1px solid #e8eaed;
}


input-group {
    padding-bottom: 3px;
}

.select {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 250px;
    height: 40px;
}

.btn {
    border-radius: 0.15rem;
}

.btn-primary {
    background-color: #9D1B2C;
    border-color: #9D1B2C;
    margin-right: 4px;
}

    .btn-primary:hover {
        color: #fff;
        background-color: #721c24;
        border-color: #721c24;
    }

.modal-header {
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 0.15rem;
    border-top-right-radius: 0.15rem;
    border-bottom: 0px solid #dee2e6;
    padding: 0.5rem;
    background-color: #8d0000;
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 0.5rem;
    background-color: #ededee;
}

.modal-footer {
    padding: 0.5rem;
    background-color: #d4d4d4;
}

h1, h2, h3, h4 {
    letter-spacing: 0px;
    font-weight: 500;
    color: #f8f9fa;
    margin: 0px 0px 0px 0px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 52px;
}

h2 {
    font-size: 32px;
    line-height: 42px;
}

h3 {
    font-size: 24px;
    line-height: 34px;
}

h4 {
    font-size: 22px;
    line-height: 32px;
}

h5 {
    font-size: 16px;
    line-height: 20px;
}

h6 {
    font-size: 16px;
    line-height: 18px;
}

p {
    margin: 0 0 5px;
    line-height: 1.7;
}

    p:last-child {
        margin: 0px;
    }

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
}

a:focus, a:hover {
    text-decoration: none;
    color: #023981;
}

.btn-link {
    color: #304496;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    letter-spacing: 0px;
    border-bottom: 1px solid #304496;
}

.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem #cbd2d9;
}

.btn:hover {
    color: #cbd2d9;
    text-decoration: none;
}

.btn-link:hover {
    color: #263679;
    text-decoration: none;
    border-bottom: 1px solid #263679;
}

.btn-mapa {
    z-index: 1;
    width: 40px;
    position: absolute;
    -webkit-transform: translate(-12 px,-12 px );
    transform: translate(-12 px,-12 px );
    bottom: 300px;
    right: 30px;
    border-radius: 0.15rem;
}

.btn-mapa-nearme {
    width: 40px;
    height: 40px;
    right: 10px;
    top: 10px;
    background-color: #9D1B2C;
    color: white;
}

.btn-mapa-pesquisa {
    width: 40px;
    height: 40px;
    right: 10px;
    top: 60px;
    background-color: #9D1B2C;
    color: white;
}

.btn-mapa-cadastro {
    width: 40px;
    height: 40px;
    right: 10px;
    top: 110px;
    background-color: #9D1B2C;
    color: white;
}

.base-btn-mapa {
    width: 60px;
    position: absolute;
    -webkit-transform: translate(-12 px,-12 px );
    transform: translate(-12 px,-12 px );
    top: calc(50% - 80px);
    right: 10px;
    height: 160px;
    background-color: #EDEDEE;
    border-radius: 0.15rem;
    transition: margin-right .5s;
}

.btn-sidebar-control {
    width: 20px;
    position: absolute;
    -webkit-transform: translate(-12 px,-12 px );
    transform: translate(-12 px,-12 px );
    top: calc(50% - 20px);
    left: 0px;
    height: 40px;
    background-color: #EDEDEE;
    border-radius: 0 0.15rem 0.15rem 0;
    transition: margin-left .5s;
}

.btn-sidebar-control {
    width: 20px;
    position: absolute;
    left: 0px;
    border: 0;
    height: 40px;
    background-color: #EDEDEE;
    border-radius: 0 0.15rem 0.15rem 0;
    transition: margin-left .5s;
}

#map_wrapper {
    z-index: -1;
    position: absolute;
    height: calc(100% - 40px);
    width: 100%;
    padding: 0px;
    border-width: 0px;
    margin-top: 40px;
    left: 0px;
    top: 0px;
    /*transition: margin-left 0.5s;*/
}

#map_canvas {
    width: 100%;
    height: 100%;
}

.location-block {
    margin-bottom: 20px;
}

.location-content {
    font-size: 14px;
    font-weight: 500;
}

.location-head {
    margin-bottom: 20px;
}

.location-icon {
    font-size: 18px;
    color: #023981;
    padding-right: 6px;
}

.location-title {
    font-weight: 600;
    color: #023981;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.info_content {
    background-color: #fff;
    padding: 0px;
}

.info_location_name {
    color: #023981;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.info_location_text {
    margin-bottom: 5px;
    color: #767a7f;
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
}

.info_location_call {
    font-size: 14px;
    color: #2e3133;
    font-weight: 600;
}

    .info_location_call span {
        padding-right: 8px;
        font-size: 14px;
        color: #023981;
    }

.mt30 {
    margin-top: 20px;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #9d1b2c;
    border-color: #ededee;
}

.btn:focus, .btn.focus {
    /* outline: 0; */
    box-shadow: 0 0 0 0.2rem #ffffff;
}

.btn-filt {
    color: #fff;
    background-color: rgb(47 53 58);
    border-color: #6c757d;
}

.btn-near {
    color: #fff;
    background-color: #b50011;
    border-color: #360005;
}

.rowFilt {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.container-fluid-map {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    background-color: white;
}

.container-fluid {
    background-color: #ededed;
    padding-bottom: 5vh;
}

.carousel {
    margin-bottom: 4rem;
}

/* Já que usamos posicionamento de imagens, precisaremos fazer alguns ajustes na legenda */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declaramos alturas, devido ao posicionamento do elemento img */
.carousel-item {
    height: 32rem;
    background-color: #201414;
    transition: 10s ease-in-out left;
}

    .carousel-item > img {
        position: absolute;
        top: 0;
        left: 0;
        min-width: 100%;
        height: 32rem;
    }

@* .spot-feature {
    display: block;
    float: left;
    text-align: left;
    padding: 10px 5px 10px;
    opacity: .6;
    width: 219px;
    background-color: #fff;
    border-radius: 0.15vh;
    margin: 0 0 5px 5px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    border: 1px solid #ddd;
}

*@
.spot-feature {
    display: block;
    float: left;
    text-align: left;
    padding: 26px;
    opacity: .8;
    width: 367px;
    background-color: #fff;
    border-radius: 0.15vh;
    margin: 0 0 11px 10px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    border: 1px solid #ddd;
}

.form-control:focus {
    color: #495057;
    background-color: #ededed;
    border-color: hsl(11deg 80% 45%);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(255 24 0 / 25%);
}

.modalidade-icons {
    box-sizing: border-box;
    width: 33.33%;
    float: left;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 500;
}

.modalidade-image {
    width: 80px;
    height: 70px;
}

.modalidade-text {
    display: block;
    margin-top: 2px;
}

.modalidades-place {
    padding: 0 0 10px;
    margin-top: 0px;
    border-top: 1px solid #fff;
    display: inline-block;
    width: 100%;
    flex-wrap: wrap;
}

.sidebar {
    float: right;
    height: calc(100% - 40px); /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    margin-top: 40px;
    /*z-index: 1;  Stay on top */
    top: 0;
    left: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px;  Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.right-sidebar {
    float: left;
    height: calc(100% - 88px); /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    margin-top: 40px;
    /*z-index: 1;  Stay on top */
    top: 0;
    right: 0;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px;  Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

.submit-sidebar {
    float: left;
    height: 48px; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    /*z-index: 1;  Stay on top */
    right: 0px;
    background-color: #fff; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    /*padding-top: 60px;  Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
    bottom: 0;
}

.pista-info {
    padding: 10px;
}

.sidebar-control > i {
    position: relative;
    top: calc(50% - 12.5px);
    left: 5px; /* 50% - 3/4 of icon height */
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

/*//////////////////////////////////////////////////////////////*/
input[type = "checkbox"][id ^= "myCheckbox"] {
    display: none;
}

.spot-type label {
    border: 1px solid #fff;
    padding: 10px;
    /*display: block;*/
    position: relative;
    margin: 10px;
    cursor: pointer;
}

label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 3%;
    border: 0px solid grey;
    position: absolute;
    /*top: -5px;
        left: -5px;*/
    top: 6px;
    left: 6px;
    width: 25px;
    height: 25px;
    text-align: center;
    /*line-height: 28px;*/
    transition-duration: 0.4s;
    transform: scale(0);
    z-index: 2;
}

.line label img {
    height: 45px;
    width: 45px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

.five label img {
    height: 100px;
    width: 100px;
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
}

:checked + label {
    border-color: #9D1B2C;
}

    :checked + label:before {
        content: "✓";
        background-color: #9D1B2C;
        transform: scale(1);
    }

    :checked + label img {
        transform: scale(0.9);
        /* box-shadow: 0 0 5px #333; */
        z-index: -1;
    }

.spot-type {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 90px;
    float: left;
    text-align: center;
    padding: 10px 5px 10px;
    /*opacity: .4;*/
    cursor: pointer;
    border: 0px solid transparent;
    border-radius: 3px;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.line {
    width: 19%;
}

.five {
    width: 33%;
}

.spot-type-dummy {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 16.5%;
    min-height: 90px;
    float: left;
    text-align: center;
    /*opacity: .4;*/
    cursor: pointer;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
}

.spot-type span {
    display: block;
    font-size: 16px;
    font-weight: 500;
    line-height: 14px;
}

.spot-type img {
    margin-bottom: 5px;
    width: 55px;
}
