@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">E ai seus Skatista Safado</h1>
    <p>Bora mepear essa poura <a href="https://docs.microsoft.com/aspnet/core">Hehes</a>.</p>
</div>
